@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
body {
    font-family: 'Amatic SC', sans-serif;
    background-color: #76A4FF;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    color: white;
    
}


header {
    display: flex;
    justify-content: space-between;
    padding-left: 36.8%;
    padding-right: 10.29%;
    padding-top: 0.67%;
    padding-bottom: -1.29%;
}

.logo {
    padding-top: 0%;
    max-width: 50%;
} 

#logo {
    max-width: 16%;
    height: auto;
}

nav ul {
    position: inherit;
    width: 100%;
    background: none;
    height: auto;
    display: flex;
}

nav ul li {
    float: left;
    padding-top: 8.0%;
    padding-left: 10.0%;
    padding-right: 10.0%;
    margin-left: 0%;
}

nav ul li a {
    color: white;
    background-color: inherit;
    text-align: right;
    text-decoration: none;    
}

.search-box{
    display: inline-block;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    padding: 10px 40px 9px 20px;
    font-size: 10px;
}

.search-btn{
    color: #6EC455;
    float: right;
    border: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(22, 62, 192);
    font-size: 20px;
    transition: 0.4s;
    line-height: 35px;
    width: 600px;
    margin: 10;
}
hr.solid {
    border: 5px solid white;
  }

.container a:hover {
    background-color:none;
    color: rgb(22, 62, 192);
}


.find-park{

    padding-left: 29%;
    margin-top: 1.5%;
    max-width: 16%;
    height: auto;

}

.review-park{

    
    padding-left: 22%;
    margin-top: -3.9%;
}